<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/public_docs/js/default.js"></script>
<link rel="stylesheet" type="text/css" href="/public_docs/css/default.css" />

<div id="sidebar"></div>
<div id="content">{{ content }}</div>
<div id="pages">
  # Pages
  {% for node in site.pages %}
    {% if node.category == page.category %}
      {% if node.url == page.url %}
        <li>{{node.title}}</li>
      {% else %}
        <li><a href="{{node.url}}">{{node.title}}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
<div id="locales">
  # Locales
  English | German | Arabic | Turkish
</div>


